body.home {
    background-image: url("images/greenDiamond.avif"); 
    background-attachment: fixed;
    background-size: cover;
}
body.game{
    background-image: url("https://t4.ftcdn.net/jpg/01/28/98/53/360_F_128985367_mNdX0b56w6OcgiyUDnZwukpK1bkpfWwI.jpg"); 
    background-attachment: fixed;
    background-size: cover;
}
img {
    width: 25%;
}
img.line {
    margin-left: 1em;
    margin-right: 1em;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right:auto;
}
img.fig {
    width: 75%;
}
nav {
    position: fixed;
    top: 0;
    text-align: center;
    background-color: Snow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    margin-left: 300px;
    margin-right: 300px;
}
h1 {
    text-align: center;
}
h2 {
    text-align: left;
    font-size: 225%;
}
p {
    font-size: 120%;
}
p.clearText{
    text-align: left;
    background:white;
    border-style: groove;
    border-color: black;
    border-width: medium;
}
.textBox {
    background-color: Snow;
    text-align: left;
    padding: 2em;
    margin-block: 100px;
    margin-left: 100px;
    margin-right:100px;
}
.textBoxGreen {
    background-color: #32CD32;
    text-align: left;
    padding: 2em;
    margin-block: 100px;
    margin-left: 100px;
    margin-right:100px;
    text-align: left;
}
.textBoxRed {
    background-color: #B22222;
    text-align: left;
    padding: 2em;
    margin-block: 100px;
    margin-left: 100px;
    margin-right:100px;
}
.textBoxBlue{
    background-color: #6A5ACD;
    text-align: left;
    padding: 2em;
    margin-block: 100px;
    margin-left: 100px;
    margin-right:100px;
}
.textBoxOrange{
    background-color: #FFA500;
    text-align: left;
    padding: 2em;
    margin-block: 100px;
    margin-left: 100px;
    margin-right:100px;
}
.textBoxGrey{
    background-color: #A9A9A9;
    text-align: left;
    padding: 2em;
    margin-block: 100px;
    margin-left: 100px;
    margin-right:100px;
}
figure {
    text-align: center;
}
hr {
    color: black;
}